<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Create Form</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <input type="text" nbInput fullWidth placeholder="Form Name">
                </div>
                    <div class="input-group">
                        <textarea rows="5" nbInput fullWidth placeholder="Description"></textarea>
                    </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" *ngFor="let question of questions;let i = index">
        <nb-card>
            <nb-card-header>Question {{i+1}}</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <input type="text" nbInput fullWidth placeholder="Question Name">
                </div>
                    <div class="input-group">
                        <textarea rows="5" nbInput fullWidth placeholder="Question Description"></textarea>
                    </div>
                    <div ngbRadioGroup class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12">
                    </div>
                    <div class="container-btn right">
                        <button class="btn-action" nbButton hero status="primary">Save</button>
                        <button class="btn-action" nbButton hero status="danger">Remove</button>
                    </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-block btn-default" (click)="newQuestion()">New Question</button>
    </div>
</div>