@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@nebular/theme/styles/core/mixins';
@import '~@nebular/bootstrap/styles/hero-buttons';
// modal
:host {
    button {
        @include nb-ltr(margin, 0 0.75rem 2rem 0);
        @include nb-rtl(margin, 0 0 2rem 0.75rem);
    }
}

@include nb-install-component() {
    // custom
    *:focus {
        outline: none;
    }
    .margin {
        margin-top: 1%;
        margin-bottom: 3%;
    }
    .right {
        text-align: right;
    } // respondent
    .respondent {
        cursor: pointer;
    }
    .user {
        font-size: 100px;
        border: 10px solid white;
        border-radius: 100%;
        padding: 10%;
    }
    .padding-right{
        padding-right:20%;
    }
     // card
    .card {
        flex-direction: row;
        align-items: center;
        height: 6rem;
        overflow: visible;
        $bevel: btn-hero-bevel(nb-theme(card-bg));
        $shadow: nb-theme(btn-hero-shadow);
        box-shadow: $bevel, $shadow;
        .icon-container {
            height: 100%;
            padding: 0.625rem;
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5.75rem;
            height: 4.75rem;
            font-size: 3.75rem;
            border-radius: nb-theme(card-border-radius);
            transition: width 0.4s ease;
            transform: translate3d(0, 0, 0);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            color: nb-theme(color-white);
            &.primary {
                @include btn-hero-primary-gradient();
                @include btn-hero-primary-bevel-glow-shadow();
            }
            &.danger {
                @include btn-hero-danger-gradient();
                @include btn-hero-danger-bevel-glow-shadow();
            }
            @include nb-for-theme(corporate) {
                &.primary,
                &.danger {
                    box-shadow: none;
                }
            }
        }
        &:hover {
            background: lighten(nb-theme(card-bg), 5%);
            .icon {
                &.primary {
                    background-image: btn-hero-primary-light-gradient();
                }
                &.danger {
                    background-image: btn-hero-danger-light-gradient();
                }
            }
        }
        &.off {
            color: nb-theme(card-fg);
            .icon {
                color: nb-theme(card-fg);
                &.primary,
                &.success,
                &.info,
                &.warning,
                &.danger {
                    box-shadow: none;
                    background-image: linear-gradient(to right, transparent, transparent);
                }
                &.secondary {
                    background: transparent;
                }
            }
            .title {
                color: nb-theme(card-fg);
            }
        }
        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
            @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
            border-left: 1px solid transparent;
        }
        .title {
            font-family: nb-theme(font-secondary);
            font-size: 1.25rem;
            font-weight: nb-theme(font-weight-bold);
            color: nb-theme(card-fg-heading);
        }
        .status {
            font-size: 1rem;
            font-weight: nb-theme(font-weight-light);
            text-transform: uppercase;
            color: nb-theme(card-fg);
        }
    } // progress
    .progress-info {
        color: nb-theme(color-fg-heading);
        margin-top: 2.5rem;
        &:first-child {
            margin-top: 0;
        }
    }
    .title {
        font-family: nb-theme(font-secondary);
        font-size: nb-theme(font-size-lg);
        font-weight: nb-theme(font-weight-bold);
    }
    .value {
        font-size: 3rem;
        font-weight: nb-theme(font-weight-light);
        margin-top: 0.5rem;
    }
    .description {
        color: nb-theme(color-fg);
        margin-top: 0.5rem;
    }
    /deep/ nb-progress-bar {
        margin-top: 0.2rem;
        .progress-container {
            height: 0.8rem;
            border-radius: 0;
        }
        .progress-value {
            height: 0.6rem;
            background: nb-theme(progress-bar-background);
            @include nb-for-theme(corporate) {
                height: 100%;
            }
        }
    }
    @include nb-for-theme(corporate) {
        nb-card {
            .icon-container {
                height: auto;
            }
        }
    }
    @include media-breakpoint-down(is) {
        /deep/ nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    } // default
    .font-secondary .font-header .name {
        font-size: 4.5rem;
        line-height: 4rem;
        font-weight: nb-theme(font-weight-bold);
    }
    .font-main .font-header .name {
        font-size: 3rem;
        font-weight: nb-theme(font-weight-bold);
    }
    .font-row {
        &:first-child {
            margin-bottom: 2rem;
        }
        .header {
            align-items: baseline;
        }
        p {
            margin: 0;
        }
    }
    .headings-card {
        nb-card-body {
            padding: 1rem 1.25rem;
        }
        .header {
            padding-bottom: 0.675rem;
            margin-bottom: 0.675rem;
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid nb-theme(separator);
        color: nb-theme(color-fg-heading);
        &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
        }
        div:first-child {
            flex: 2;
            -ms-flex: 2 1 auto;
            line-height: 1;
            align-items: flex-end;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }
        .variants {
            flex: 1;
            -ms-flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            span {
                padding-right: 1rem;
                padding-left: 1rem;
                font-size: 1.5rem;
            }
        }
        .detail {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            color: nb-theme(color-fg);
        }
        .level1 {
            color: nb-theme(color-fg);
        }
        .level2 {
            color: nb-theme(color-success);
        }
        .level3 {
            color: nb-theme(color-warning);
        }
        .level4 {
            color: nb-theme(color-danger);
        }
    }
    .colors {
        display: flex;
        flex-direction: column;
        .item {
            display: flex;
            align-items: center;
            margin-bottom: 1.25rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .color {
            width: 86px;
            height: 60px;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            @include nb-ltr(margin-right, 1rem);
            @include nb-rtl(margin-left, 1rem);
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0.25rem;
        }
    }
    .text-link {
        color: nb-theme(link-color);
    }
    .bg-link {
        background: nb-theme(link-color);
    }
}