@import '../../../@theme/styles/themes';
/* stylelint-disable */

:host /deep/ tbody>tr>td {
    cursor: pointer;
}

*:focus {
    outline: none;
}

.margin {
    margin-top: 1%;
    margin-bottom: 3%;
}

.title {
    border-bottom: 1px solid #cdd5dc;
    padding-bottom: 1%;
}
